{% extends 'users/base.html' %}
{% load widget_tweaks %}

{% block content %}

<!-- display applicant info -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Recruiter Profile</h1>
            <p>Location: {{ recruiter.company_name }}</p>
            <p>Description: {{ recruiter.company_description }}</p>
            <a href="{% url 'update_recruiter' %}" class="btn btn-primary">Update Profile</a>
        </div>
    </div>
</div>


{% endblock content %}