{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
{% csrf_token %}

<form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
    {% csrf_token %}
    
    <div class="form-floating mb-3">
        {% render_field form.company_name class="form-control" %}
        <label for="floatingInput">Company Name</label>
    </div>
    
    <div class="form-floating mb-3">
        {% render_field form.company_description class="form-control" %}
        <label for="floatingInput">Company Description</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Update</button>
</form>




{% endblock content %}