{% extends 'users/base.html' %}
{% load widget_tweaks %}

{% block content %}

    <div class="card shadow-lg p-4" style="width: 100%; border-radius: 10px;">
        <h2 class="text-center mb-4 text-primary">Add Job</h2>
        <form method="POST">
            {% csrf_token %}
            
            <div class="mb-3">
                <label class="form-label fw-bold text-dark">Role</label>
                {% render_field form.role class="form-control border rounded shadow-sm bg-white text-dark" %}
            </div>
            
            <div class="mb-3">
                <label for="location" class="form-label fw-bold text-dark">Location</label>
                <select name="location" id="location" class="form-select border rounded shadow-sm bg-white text-dark">
                    {% for location in locations %}
                        <option value="{{ location.id }}">{{ location.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="industry" class="form-label fw-bold text-dark">Industry</label>
                <select name="industry" id="industry" class="form-select border rounded shadow-sm bg-white text-dark">
                    {% for industry in industries %}
                        <option value="{{ industry.id }}">{{ industry.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="job_type" class="form-label fw-bold text-dark">Job Type</label>
                <select name="job_type" id="job_type" class="form-select border rounded shadow-sm bg-white text-dark">
                    {% for job_type in job_types %}
                        <option value="{{ job_type.id }}">{{ job_type.name }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="mb-3">
                <label class="form-label fw-bold text-dark">Description</label>
                {% render_field form.description class="form-control border rounded shadow-sm bg-white text-dark" %}
            </div>
            
            <div class="mb-3">
                <label class="form-label fw-bold text-dark">Salary</label>
                {% render_field form.salary class="form-control border rounded shadow-sm bg-white text-dark" %}
            </div>
            
            <div class="mb-3">
                <label class="form-label fw-bold text-dark">Vacancies</label>
                {% render_field form.vacancies class="form-control border rounded shadow-sm bg-white text-dark" %}
            </div>

            <button class="btn btn-primary w-100 py-2 shadow-sm fw-bold" type="submit">Add Job</button>
        </form>
    </div>

{% endblock content %}