{% extends 'base.html' %}

{% block content %}

<div class="card mx-auto" style="width: 76rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
        <h5 class="card-title mb-3">Applications</h5>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Applicant Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Location</th>
                    <th scope="col">Resume</th>
                    <th scope="col">Application Status</th>
                    <th scope="col">update Status</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for app in job_applications %}
                <tr>
                    <td>{{app.applicant.user.first_name}} {{app.applicant.user.last_name}}</td>
                    <td>{{app.applicant.user.email}}</td>
                    <td>{{app.applicant.location}}</td>
                    <td>
                        {% if app.applicant.resume %}
                        <a href="{{ app.applicant.resume.resume.url }}" target="_blank">View Resume</a>
                        {% else %}
                        No resume uploaded.
                        {% endif %}
                    </td>
                    <td>
                    {% if app.status.id == 1 %}
                        <span class="badge bg-warning">Applied</span>
                        {% elif app.status.id == 2 %}
                        {% comment %} shortlisted {% endcomment %}
                        <span class="badge bg-success">Shortlisted</span>
                        {% elif app.status.id == 3 %}
                        {% comment %} Rejected {% endcomment %}
                        <span class="badge bg-danger">Rejected</span>
                        {% elif app.status.id == 4 %}
                        {% comment %} Hired {% endcomment %}
                        <span class="badge bg-success">Hired</span>
                    {% endif %}
                    </td>

                    <td>
                        <form method="POST" class="form-inline">
                            {% csrf_token %}
                            <select name="status" id="status">
                                <option value="0" disabled selected>update status</option>
                                {% for st in app_status %}
                                {% if st.id != app.status.id %}
                                <option value="{{ st.id }}">{{ st.status }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-primary" formaction="{% url 'update_status' app.id %}">Update</button>
                        </form>

                    
                    {% comment %} <td>{{job.job.company}}</td>
                    <td>{{job.job.location}}</td>
                    <td>{{job.job.salary}}</td>

                    {% if job.job.is_active %}
                    <td><span class="badge bg-success">Active</span></td>
                    {% else %}
                    <td><span class="badge bg-warning">Not Active</span></td>
                    {% endif %}



                    <td>
                        {% if job.status == 'Applied' %}
                        <span class="badge bg-warning">Pending</span>
                        {% elif job.status == 'A' %}
                        <span class="badge bg-success">Accepted</span>
                        {% elif job.status == 'R' %}
                        <span class="badge bg-danger">Rejected</span>
                        {% endif %}
                    </td>
                    {% endcomment %}
                    {% comment %} <td><a href="{% url '' job.pk %}"><span class="badge bg-danger">Withdraw</span></a></td> {% endcomment %}
                </tr> 
                {% endfor %}
            </tbody>
        </table>
         
    </div>


{% endblock content %}