{% extends 'users/base.html' %}
{% load widget_tweaks %}

{% block content %}

<form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
    {% csrf_token %}
    <div class="form-floating mb-3">
        {% render_field form.role class="form-control" %}
        <label for="floatingInput">role</label>
    </div>
    <div class="form-floating mb-3">
        {% render_field form.location class="form-control" %}
        <label for="floatingInput">location</label>
    </div>
    <div class="form-floating mb-3">
        {% render_field form.description class="form-control" %}
        <label for="floatingInput">Description</label>
    </div>
    <div class="form-floating mb-3">
        {% render_field form.salary class="form-control" %}
        <label for="floatingInput">salary</label>
    </div>
    <div class="form-floating mb-3">
        {% render_field form.vacancies class="form-control" %}
        <label for="floatingInput">vacancies</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Add Job</button>
</form>

{% endblock content %}