{% extends 'base.html' %}

{% block content %}

<div class="card mx-auto" style="width: 76rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
        <h5 class="card-title mb-3">Manage Jobs</h5>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Job Role</th>
                    <th scope="col">Location</th>
                    <th scope="col">Salary </th>
                    <th scope="col">No. of Applicants</th>
                    <th scope="col">Status</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td>{{job.role}}</td>
                    <td>{{job.location}}</td>
                    <td>{{job.salary}}</td>
                    <td>{{job.jobapplication_set.all.count }} <a href="{% url 'applications_for_job' job.pk %}"><small>View all</small></a></td> <!-- No. of Applicants Calc-->

                    {% if job.is_active %}
                    <td><span class="badge bg-success">Active</span></td>
                    {% else %}
                    <td><span class="badge bg-warning">Not Active</span></td>
                    {% endif %}
                     
                    <td><a href="{% url 'update_job' job.pk %}"><span class="badge bg-secondary">Update Job</span></a></td>
                    <td><a href="{% url 'delete_job' job.pk %}"><span class="badge bg-danger">Delete Job</span></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>


{% endblock content %}