{% extends 'base.html' %}
{% load widget_tweaks %}
{% load humanize %}

{% block content %}

{% comment %} 
# Create your views here.
def view_industries(request):
    industries = Industry.objects.all()
    return render(request, 'industries/industries.html', {'industries': industries}) {% endcomment %}

{% comment %} Just display all the industries coming from above view {% endcomment %}
<div>
    <h1>Industries</h1>
    <ul>
        {% for industry in industries %}
        <li>{{industry.name}}</li>
        {% endfor %}
    </ul>
</div>



{% endblock content %}