<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel = "stylesheet"
        integrity = "sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Django Job Portal - Login</title>
</head>
<body>
    <div class="container col-xl-14 col-xxl-12 px-1 py-2">
        <div class="row justify-content-center align-items-center g-lg-5 py-5">
            <div class="col-md-8 col-lg-5">
                <div class="card shadow-lg border-0 rounded-4 p-4">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}} text-center fw-bold" role="alert">
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-4 fw-bold text-primary">Explore Careers with Job-at-glance</h1>
                <p class="fs-5 text-muted">
                    Unlock new career paths tailored to your expertise and skill set. Find your ideal job and take the next step in your professional journey!
                </p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>