{% extends 'users/base.html' %}
{% load widget_tweaks %}

{% block content %}

<!-- display applicant info -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Recruiter Profile</h1>
            <p>Location: {{ applicant.location }}</p>
            <p>Phone Number: {{ applicant.phone_number }}</p>
            <p>Skills: {{ applicant.skills.all|join:", " }}</p>
            
            {% if applicant.resume %}
                <p>Resume: <a href="{{ resume.resume.url }}" target="_blank">View Resume</a></p>
            {% else %}
                <p>No resume uploaded.</p>
            {% endif %}

            <a href="{% url 'update_applicant' %}" class="btn btn-primary">Update Profile</a>
        </div>
    </div>
</div>



{% endblock content %}